body {
    background-color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:#b9b9b9; 
    font-size: 25px;
    letter-spacing: -0.5px;
    margin: auto;
    height: 100%;
    overflow-x: hidden;
}

/*Center video content*/
video {
    display: block;
    margin: auto;
    height: auto;
    overflow-x: hidden;
}

h1 {
    color:#efefef; 
    font-size: 8vh;
    line-height: .9em;
    text-align: center;
}

h2 {
    color:#efefef; 
    font-size: 2.5vh;
}

.tents {
    width: 100%;
    height: auto;
}

.icon {
    height: auto;
}

/*App links, drive nowhere -- app not ready*/
#appLink {
    color: #36c5e4;
    font-size: 3vh;
    padding-bottom: 50px;
}

/*Company copyright in footer*/
#copyright {
    padding-top: 50px;
    font-size: 2.5vh;
}